.container.artist-description {
  background-color: white;
}

.artist-card {
  max-height: 30vh;
}
.row {
  max-height: 100%;
}

.col {
  max-height: 100%;
}

.card-img {
  max-height: 100%;
  max-width: 100%;
}