body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gainsboro;
}

#root {
  min-height: 100vh;
}

#h-app-name {
  font-size: 3.5em;
}

.line-separator {
  border-top: 3px solid black;
}

.breadcrumb {
  background: rgba(245, 245, 245, 0);
  border: 0px solid rgba(245, 245, 245, 0);
}

.breadcrumb li {
  padding: 0;
  margin: 0;
  display: inline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

ol a{
  color: #1ED760 !important;
}

.fas {
  color: #1ED760;
}

.container.description-container {
  height: 30vh;
}

.description-img {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}